@use '../abstracts/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $black;
    scroll-behavior: smooth;
}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -100;
    // preload images
    // content: url(../../images/desktop/hero/background.svg) url(../../images/desktop/hero/panda.png);
}

section, main {
    padding: 8rem;
}