@use '../abstracts/variables' as *;

* {
    margin: 0;
    padding: 0;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    user-select: none; /* Modern browsers */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer */
}

::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, iframe, object, embed {
    max-width: 100%;
    height: auto;
}

body {
    // display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: $black;
    overflow-x: hidden;
    touch-action: manipulation;
    overflow-x: hidden;
}

body:after {
    // position: absolute;
    // width: 0;
    // height: 0;
    // overflow: hidden;
    z-index: -100;
    // preload images
    // content: url(../../images/hero/background.svg) url(../../images/hero/panda.png);
}

main {
    padding: 4rem;
    max-width: 100%;

    @media only screen and (max-width: 600px) {
        padding: 8rem 2rem;
    }
}

section {
    padding: 4rem;
    max-width: 100%;
    opacity: 1;
    transition: opacity 400ms ease-in-out;

    @media only screen and (max-width: 600px) {
        padding: 8rem 2rem;
    }

     /* Initially set sections to be hidden */
    &.appearing {
        opacity: 0;
    }

  /* After adding the 'visible' class, they will fade in */
    &.visible {
        opacity: 1;
    }
}