@use '../abstracts/variables' as *;

$font-family: 'IBM Plex Mono', monospace;
$font-style: normal;
$line-height: 120%;
// $font-weight-thin: 100;
// $font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
// $font-weight-semibold: 600;
$font-weight-bold: 700;

h1, h2, h3, h4, h5, p {
    font-family: $font-family;
    font-style: $font-style;
    line-height: $line-height;
}

// sizes and weight

html {
    font-size: 62.5%;
}

h1 {
    font-weight: $font-weight-bold;
    font-size: 8rem;

    @media only screen and (max-width: 480px) {
            font-size: 5rem;
        }
}

h2 {
    font-size: 6rem;

    @media only screen and (max-width: 480px) {
            font-size: 4rem;
        }
}

h3 {
    font-size: 4rem;

    @media only screen and (max-width: 480px) {
            font-size: 3rem;
        }
}

h4 {
    font-size: 3rem;

    @media only screen and (max-width: 480px) {
            font-size: 2.4rem;
        }
}

h5 {
    font-size: 2.4rem;

    @media only screen and (max-width: 480px) {
            font-size: 1.8rem;
        }
}

.p1 {
    font-size: 2rem;

    @media only screen and (max-width: 480px) {
        font-size: 1.7rem;
    }
}

.p2 {
    font-size: 1.6rem;

    @media only screen and (max-width: 480px) {
        font-size: 1.4rem;
    }
}

h2, h3, h4 {
    font-weight: $font-weight-light;
}

h5, .p1, .p2 {
    font-weight: $font-weight-regular;
}

// colors

h1, h2, .cta {
    color: $text;
}

.hero .p2, footer .p2 {
    color: $black;
}

.number, h3, h4, h5, .p1, .p2 {
    color: $white;
}

// text alignment

h1, h2, h3, h4, h5 {
    text-align: center;
}