@use '../abstracts/variables' as *;

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Albert Sans', sans-serif;
$font-style: normal;
$line-height: 120%;
// $font-weight-thin: 100;
// $font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
// $font-weight-semibold: 600;
$font-weight-bold: 700;

h1, h2, h3, h4 {
    font-family: $font-family-primary;
    font-style: $font-style;
    line-height: $line-height;
}

h5, p{
    font-family: $font-family-secondary;
    font-style: $font-style;
    line-height: $line-height;
}
// sizes and weight

html {
    scroll-behavior: smooth;
    touch-action: manipulation; /* Prevents double-tap zooming */
    font-size: 62.5%;
    overflow-x: hidden;
}

ul {
    font-family: $font-family-secondary;
    font-style: $font-style;
    line-height: $line-height;
    margin-left: 3rem;

    font-size: 2rem;

    @media only screen and (max-width: 480px) {
        font-size: 1.7rem;
    }
}

h1 {
    font-weight: $font-weight-bold;
    font-size: 8rem;

    @media only screen and (max-width: $mobile),only screen and (max-height: $font_change1_height) {
            font-size: calc(1rem + 3vw + 2.5vh);
    }
    @media only screen and (max-width: $font_change2_width),only screen and (max-height: $font_change2_height) {
            font-size: calc(1rem + 2.6vw + 2.3vh);
    }
}

h2 {
    font-size: 6rem;

    @media only screen and (max-width: $font_change1_width),only screen and (max-height: $font_change1_height) {
            font-size: 4rem;
        }
}

h3 {
    font-size: 4rem;

    @media only screen and (max-width: $font_change1_width),only screen and (max-height: $font_change1_height) {
            font-size: 3rem;
        }
}

h4 {
    font-size: 3rem;

    @media only screen and (max-width: $font_change1_width),only screen and (max-height: $font_change1_height) {
            font-size: 1.9rem;
        }
}

h5 {
    font-size: 2.4rem;
    @media only screen and (max-width: $font_change1_width),only screen and (max-height: $font_change1_height) {
            font-size: calc(1rem + 1vw + 0.7vh);
        }

}

.p1 {
    font-size: 2rem;

    @media only screen and (max-width: $font_change1_width),only screen and (max-height: $font_change1_height) {
        font-size: 1.7rem;
    }
}

.p2 {
    font-size: 1.6rem;

    @media only screen and (max-width: $font_change1_width),only screen and (max-height: $font_change1_height) {
        font-size: 1.4rem;
    }
}

h2, h3, h4 {
    font-weight: $font-weight-light;
}

h5, .p1, .p2 {
    font-weight: $font-weight-regular;
}

// colors

h1, h2, .cta {
    color: $text;
}

.hero .p2, footer .p2 {
    color: $black;
}
footer .p2.email-msg{
    color: $red;
}

footer .p2.p2.email-msg.success{
    color: $green;
}

.number, h3, h4, h5, .p1, .p2, li{
    color: $white;
}

// text alignment

h1, h2, h3, h4, h5 {
    text-align: center;
}

a {
    color: $secondary-color;
    text-decoration: underline; 

    &:hover {
        color: $primary-light; 
    }

    &:visited {
        color: $secondary-color; 
    }
}
