@use '../layout/layout' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../components/buttons' as *;
@use '../base/typography' as *;

footer {
    position: relative;
    @include column;
    gap: 6rem;
    padding-top: 6rem;
    background: url(/src/images/footer/footer-bg.svg) center/cover no-repeat;
    border-top-right-radius: 8rem;

    @media only screen and (max-width: 600px) {
        height: 100svh;
        width: 100svw;
        border-top-right-radius: 0rem;
    }

    .column {
        @include column;
        gap: 4rem;
        padding-bottom: 0.8rem;

        .row-wrap {
            @include row-wrap;
            gap: 4rem;

            .btn-secondary {
                @include btn-secondary;
            }

            .btn-primary {
                @include btn-primary;
            }
        }
    }

    .row {
        @include row;
        gap: 4rem;

        .footer-img {
            fill: $text;
            transition: fill 100ms ease-in-out;
        
            &:hover {
                fill: $primary-dark;
            }
        }
    }

    .site-info {
        @include row;
        gap: 0.8rem;
    }
}