@use '../layout/layout' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../components/buttons' as *;
@use '../base/typography' as *;

footer {
    @include column;
    position: relative;
    gap: 6rem;
    padding-top: 6rem;
    background: url(/src/images/footer/footer-bg.svg) center/cover no-repeat;
    border-top-right-radius: 8rem;
    min-height: 100vh;

    

    @media only screen and (max-width: 600px) {
        width: 100svw;
        border-top-right-radius: 0rem;
    }
    .contact-data {
        display: flex;
        width: 70vw;
        min-height: 70vh;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        @media only screen and (max-width: $mobile) {
            gap: 1rem;
        }
        .contact-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.2rem;
            width: 100%;


            .form-data {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                align-self: stretch;
                @media only screen and (max-width: $mobile) {
                    gap: 0rem;
                }
                .p2{
                    padding-left: 1.8rem;
                }
                input, textarea{
                    border-radius: 2rem;
                    border: 2px solid $primary-dark;
                    background: $white;
                    gap: 1.15;
                }
                .row-wrap {
                    @include row-wrap;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 2rem;
                    @media only screen and (max-width: $mobile) {
                        gap: 0rem;
                    }
                }

                .column {
                    @include column;
                    gap: 0.5rem;
                    padding-bottom: 0.8rem;
                    flex-direction: column;
                    align-items: flex-start;
                    @media only screen and (max-width: $mobile) {
                        gap: 0.2rem;
                    }

                    input {
                        display: flex;
                        height: 8rem;
                        padding-left: 1.5rem;
                        align-items: center;
                        align-self: stretch;
                        width: 33.5vw;
                        min-height: 5rem;
                        background-color: rgba(255, 255, 255, 0.6);
                        transition: background-color .1s ease-in-out;
                        @media only screen and (max-width: $mobile) {
                            width: 70vw;
                            height: 8vh;
                        }
                    }

                    textarea{
                        display: flex;
                        height: 15rem;
                        width: 100%;
                        resize: none;
                        padding: 2rem 0px 0px 1.5rem;
                        align-items: flex-start;
                        align-self: stretch;
                        min-height: 8rem;
                        background-color: rgba(255, 255, 255, 0.6);
                        transition: background-color .1s ease-in-out;
                        @media only screen and (max-width: $mobile) {
                            height: 10vh;
                        }
                    }

                    input:focus, textarea:focus {
                        background-color: rgba(255, 255, 255, .85);
                    }
                }
            }

            .error-in-form{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.8rem;
                // padding: 0.8rem;
                height: 4rem;

                .error-svg {
                    display: none;
                    width: 20px;
                    height: 20px;
                }

                .success-svg {
                    display: none;
                    width: 20px;
                    height: 20px;
                }
            }

            .btn-primary {
                @include btn-primary;
            }

        }

        .column {
            @include column;
            gap: 2rem;
            padding-bottom: 0.8rem;
            padding-top: 1rem;

            .row-wrap {
                @include row-wrap;
                gap: 4rem;

                .btn-primary {
                    @include btn-primary;
                }
            }
        }
    }

    .row {
        @include row;
        gap: 4rem;
        @media only screen and (max-width: $mobile) {
            gap: 2.5rem;
        }

        .footer-img {
            fill: $text;
            transition: fill 100ms ease-in-out;
        
            &:hover {
                fill: $primary-dark;
            }
        }
    }

    .site-info {
        @include row;
        gap: 0.8rem;
    }
}