@use '../layout/layout' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../components/buttons' as *;
@use '../base/typography' as *;

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
    background: url(/src/images/footer/footer-bg.svg) center/cover no-repeat;
    border-top-right-radius: 80px;

    .column {
        @include column;
        gap: 40px;
        padding-bottom: 8px;

        .row-wrap {
            @include row-wrap;
            gap: 20px;

            .btn-secondary {
            @include btn-secondary;
            }

            .btn-primary {
                @include btn-primary;
            }
        }
    }

    .row {
        @include row;
        gap: 40px;

        .footer-img {
            fill: $text;
            transition: fill 100ms ease-in-out;
        
            &:hover {
                fill: $primary-dark;
            }
        }
    }

    .site-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}