@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/typography' as *;

@mixin row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@mixin row-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: start;
}

@mixin column {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: url(../images/cta-background.svg) center/cover no-repeat;
    text-align: center;
    padding: 80px 0px;
}

strong {
        @include title;
}

#biography {
    @include column;
    gap: 100px;
    position: static;
    margin-top: calc(100vh - 90px);
    
    h3, h5 {
        text-align: center;
    }

    .column {
            @include column;
            gap: 60px;
        
        .row {
            @include row;
            gap: 60px;

            @media only screen and (max-width: 800px) {
                flex-wrap: wrap;
                align-content: flex-start;
                justify-content: center;
                align-items: start;
                gap: 40px;
            }
        }

        .row-wrap {
            @include row-wrap;
            gap: 40px 100px;
            align-items: center;

            .column-text {
            @include column;
            gap: 4px;
            width: 100%;
            align-items: flex-start;
            }

        .column-small {
        @include column;
        gap: 8px;
        width: fit-content;

        .p1 {
            text-align: center;
            text-wrap: nowrap;
        }
        }
        }
    }
}

.bg-lines {
    display: flex;
    width: 100%;

    img {
        width: 100%;
        align-self: center;
    }
}

#clients {
    
    @include column;
    gap: 100px;

    .row-wrap {
        @include row-wrap;
        align-items: center;
        justify-content: center;
        gap: 40px 100px;

        h5 {
            font-weight: $font-weight-light;
        }
        
        img.clients {
            height: 50vh;
        }
    }

}