@use '../abstracts/mixins' as *;
@use '../components/buttons' as *;
@use '../abstracts/variables' as *;
@use '../base/typography' as *;

@mixin row {
    position: relative;
    display: flex;
    flex-direction: row;
    // width: 100%;
    justify-content: center;
    align-items: center;
}

@mixin row-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: start;
}

@mixin column {
    display: flex;
    // width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

strong {
    @include title;
}
.bg-line {
    width: 100%;
    height: 4svh;
    background: url(../images/bg-line.svg) center/contain no-repeat;
}

.bg-lines {
    width: 100%;
    height: 4svh;
    background: url(../images/bg-lines-l.svg) center/contain no-repeat;

    @media only screen and (max-width: 500px) {
        background: url(../images/bg-lines-s.svg) center/contain no-repeat;
    }
    
    @media only screen and (max-width: 900px) {
        background: url(../images/bg-lines-m.svg) center/contain no-repeat;
    }
}

.call-to-action {
    @include column;
    gap: 4rem;
    background: url(../images/cta-background.svg) center/cover no-repeat;
    text-align: center;
    padding: 8rem 2rem;

    .btn-primary {
        @include btn-primary;
    }
}

#biography {
    @include column;
    gap: 10rem;
    position: static;
    margin-top: calc(100vh + 9rem);

    @media only screen and (max-width: 1000px) {
        margin-top: calc(100vh + 0rem);
    }
    
    h3, h5 {
        text-align: center;
    }

    .certificates .p1 {
        text-align: center;
        max-width: 60vw;
                
        @media only screen and (max-width: 600px) {
            max-width: 80vw;
        }
    }

    .column {
        @include column;
            gap: 6rem;
            width: 100%;

        .p1 {
            text-align: center;
            max-width: 60vw;

            @media only screen and (max-width: 600px) {
                max-width: 80vw;
            }
        }

        .p1.text {
            text-align: left;
            max-width: 100%;
        }
        
        .row {
            @include row;
            width: 100%;
            gap: 6rem;
            justify-content: flex-start;

            @media only screen and (max-width: 800px) {
                flex-wrap: wrap;
                align-content: flex-start;
                justify-content: center;
                align-items: start;
                gap: 4rem;
            }

            .column-text {
                @include column;
                gap: 0.4rem;
                width: 100%;
                align-items: flex-start;

                .title {
                    @include row;
                    gap: 0.8rem;
                    align-items: baseline;
                    justify-content: flex-start;

                    @media only screen and (max-width: $mobile) {
                        width: 100%;
                        align-items: center;
                    }

                    .p2 {
                        color: $grey;
                    }
                }

                ul {
                    list-style: disc;
                    font-family: $font-family-secondary;
                    font-style: $font-style;
                    line-height: $line-height;
                    margin-left: 2rem;
                    font-size: 2rem;

                    @media only screen and (max-width: 480px) {
                        font-size: 1.6rem;
                    }
                    
                    li {
                        display: list-item;
                    }
                }

            }
        }
    }

    .row-wrap-logos {
        @include row-wrap;
        gap: 4rem 10rem;
        align-items: center;
    }

    .row-wrap {
        @include row-wrap;
        // gap: 4rem 10rem;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        width: 100%;
        gap: 4rem;
        // justify-content: center;


        .column-small {
            @include column;
            gap: 1.6rem;
            align-content: center;
            padding: 0.8rem 0rem 1.6rem 0rem;
            border-radius: 1.6rem;
            background-color: $card_background;
            flex: 1 1 calc(25% - 4rem);

            @media only screen and (min-width: 1301px) and (max-width: 1479px) {
                flex: 1 1 calc(50% - 4rem); 
            }

            @media only screen and (min-width: 390px) and (max-width: 1299px) {
                flex: 1 1 100%; 
                }
            h2 {
                color: $grey;
            }

            .p1 {
                text-align: center;
                text-wrap: nowrap;
                color: $white;
                max-width: 60vw;
            }
        }
    }
    .certificates {
        @include column;
        gap: 4rem;
        width: 100%;

        .p1 {
            text-align: center;
        }

        .row-wrap {
            @include row-wrap;
            width: 100%;
            align-items: flex-start;
            justify-content: space-around;
            align-content: center;
        }
    }
}

#projects {
    @include column;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    align-self: stretch;

    @media only screen and (min-width: $mobile) {
        min-height: 100vh;
    }

    .fade-in {
        animation: fadeOut 700ms ease-in-out forwards;
    }

    @keyframes fadeIn {
        0% {
        opacity: 1;
        transform: translateX(0); /* Original position */
        }
        50% {
            opacity: 0;
            transform: translateX(-99vw); /* Move out to the left */
        }
        51% {
            opacity: 0;
            transform: translateX(99vw); /* Instantly move to the right */
        }
        100% {
            opacity: 1;
            transform: translateX(0); /* Fade in back to the center */
        }
    }

    .fade-out {
        animation: fadeIn 700ms ease-in-out;
    }

    @keyframes fadeOut {
        0% {
        opacity: 1;
        transform: translateX(0); /* Original position */
        }
        50% {
            opacity: 0;
            transform: translateX(99vw); /* Move out to the left */
        }
        51% {
            opacity: 0;
            transform: translateX(-99vw); /* Instantly move to the right */
        }
        100% {
            opacity: 1;
            transform: translateX(0); /* Fade in back to the center */
        }
    }

    .desktop-project {
        @include column;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        // display: none;

        .frame {
            display: flex;
            padding: 2rem 1rem;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            align-self: stretch;
            border-radius: 1.6rem;
            background: $card_background;
            // min-height: 50vh;
            
            .row-wrap {
                @include row-wrap;
                display: flex;
                padding: 0rem 1.6rem;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;
            }

            .row-stack {
                @include row-wrap;
                align-items: flex-end;
                gap: 1.2rem;
                justify-content: flex-end;
                width: 100%;
                img {
                    width:30;
                    height: 30;
                }
            }
            
            .row-left {
                @include row-wrap;
                justify-content: flex-start;
                align-items: center;
                gap: .8rem;
                flex: 1 0 0;
                align-self: stretch;
            }

            .row-right {
                @include row-wrap;
                justify-content: flex-end;
                align-items: center;
                gap: .8rem;
                flex: 1 0 0;
                align-self: stretch;
            }

            h5 {
                text-align: start;
            }

            .column {
                @include column;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: .8rem;
                align-self: stretch;
            }

            .row-wrap {
                @include row-wrap;
                display: flex;
                padding: 0rem 1.6rem;
                gap:4rem;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;

                @media only screen and (max-width: $mobile) {
                    gap: 5rem;
                }

                .column-content {
                    @extend .column;
                    flex: 1 1 calc(50% - 2rem);
                    min-height: 30vh;
                    justify-content: flex-start;
                }
            }

            .achievements {
                @include row-wrap;
                display: flex;
                margin-left: 1.6rem;
                margin-right: 1.6rem;
                padding: 1.6rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 5rem;
                align-self: stretch;
                border-radius: 1.6rem;
                background: $card_background;

                .row-wrap {
                    @include row-wrap;
                    display: flex;
                    align-items: flex-start;
                    gap: 4rem;
                    align-self: stretch;
                }

                .column{
                    @include column;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content:flex-start;
                    gap: 1.6rem;
                    flex: 1 0 0;

                    .p1{
                        text-align: center;
                    }

                    img {
                        width:32;
                        height: 32;
                    }
                }
            }
        }

        .arrows {
            @include row;
            padding: .8rem 1.6rem;
            gap: 10rem;
            align-self: stretch;

            svg {
                transition: fill 100ms ease-in-out;
                user-select: none;
            }
            @media only screen and (min-width: $mobile) {
                svg:hover path {
                    fill: $secondary-color;
                }
            }

            svg:active path {
                fill: $secondary-color;
            }

            svg path{
                fill: $white
            }
        }
    }

    .mobile-project {
        @include column;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .frame{
            display: flex;
            padding: 1rem;
            padding-top: 3remuu;
            flex-direction: column;
            align-items: stretch;
            gap: 3rem;
            align-self: stretch;
            border-radius: 1.6rem;
            background: $card_background;

            .row-wrap {
                @include row-wrap;
                display: flex;
                padding: 0rem 1.6rem;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
            }

            .row-left{
                @include row-wrap;
                justify-content: flex-start;
                align-items: center;
                gap: .8rem;
                flex: 1 0 0;
                align-self: stretch;
            }

            h5{
                text-align: start;
            }

        }

        .content{
            display: flex;
            padding: 0px;//2rem 1rem;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            align-self: stretch;
            border-radius: 1.6rem;
            opacity: 0;
            max-height: 0px; 
            overflow: hidden; 
            transition: opacity .6s ease, max-height .6s ease;

            .row-wrap {
                @include row-wrap;
                display: flex;
                padding: 0rem 1.6rem;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;
            }

            .row-stack{
                @include row-wrap;
                align-items: flex-end;
                gap: 1.2rem;
                justify-content: flex-start;
                width: 100%;
                img {
                    width:30;
                    height: 30;
                }
            }
            
            .row-left{
                @include row-wrap;
                justify-content: flex-start;
                align-items: center;
                gap: .8rem;
                flex: 1 0 0;
                align-self: stretch;
            }

            .row-right{
                @include row-wrap;
                justify-content: flex-end;
                align-items: center;
                gap: .8rem;
                flex: 1 0 0;
                align-self: stretch;
            }

            h4{
                text-align: start;
            }

            .column {
                @include column;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: .8rem;
                align-self: stretch;
                padding: 0rem 1.6rem;
                transition: all 0.3s ease;
            }

            .row-wrap {
                @include row-wrap;
                display: flex;
                padding: 0rem 1.6rem;
                gap:4rem;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;

                @media only screen and (max-width: $mobile) {
                    gap: 5rem;
                }

                .column-content {
                    @extend .column;
                    flex: 1 1 calc(50% - 2rem);
                    min-height: 27.5vh;
                    justify-content: flex-start;
                    padding:  0px;
                }
            }

            .achievements {
                @include row-wrap;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5rem;
                align-self: stretch;

                .row-wrap {
                    @include row-wrap;
                    display: flex;
                    align-items: flex-start;
                    gap: 4rem;
                    align-self: stretch;

                    .column-achievements{
                        @include column;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content:flex-start;
                        gap: 1.6rem;
                        flex: 1 0 0;

                        .p1{
                            text-align: center;
                        }

                        img {
                            width:32;
                            height: 32;
                        }
                    }
                }
            }
            
        }

        .toggle-arrow {
            transition: transform 0.3s ease;
            user-select: none;
        }
        .toggle-arrow.rotate {
            transform: rotate(180deg);
        }
    }
    

}

#clients {
    @include column;
    gap: 10rem;

    .row-wrap {
        @include row-wrap;
        align-items: center;
        justify-content: center;
        gap: 4rem 10rem;

        h5 {
            font-weight: $font-weight-light;
        }

        img {
            height: 6rem;
        }

        img.clients {
            width: 6rem;

            @media only screen and (min-width: 801px) {
                width: 40vw;
            }

            @media only screen and (max-width: 800px) {
                width: 100vw;
            }
        }
    }

    .column {
        @include column;
        gap: 6rem;

        img.clients {
            height: 50vh;
        }

        h5{
            max-width: 60vw;

            @media only screen and (max-width: 600px) {
                max-width: 80vw;
            }
        }
    }
}

#referrals {
    @include column;
    width: 100%;
    min-height: 100vh;
    gap: 10rem;

    @media only screen and (max-width: $mobile) {
        gap: 4rem;
    }

    .fade-out {
        animation: fadeOut 700ms ease-in-out forwards;
    }

    @keyframes fadeOut {
        0% {
        opacity: 1;
        transform: translateX(0); /* Original position */
        }
        50% {
            opacity: 0;
            transform: translateX(-99vw); /* Move out to the left */
        }
        51% {
            opacity: 0;
            transform: translateX(99vw); /* Instantly move to the right */
        }
        100% {
            opacity: 1;
            transform: translateX(0); /* Fade in back to the center */
        }
    }

    .fade-in {
        animation: fadeIn 700ms ease-in-out;
    }
    @keyframes fadeIn {
        0% {
        opacity: 1;
        transform: translateX(0); /* Original position */
        }
        50% {
            opacity: 0;
            transform: translateX(99vw); /* Move out to the left */
        }
        51% {
            opacity: 0;
            transform: translateX(-99vw); /* Instantly move to the right */
        }
        100% {
            opacity: 1;
            transform: translateX(0); /* Fade in back to the center */
        }
    }

    .column {
        @include column;
        width: 100%;
        gap: 1.6rem;
        
        .row{
            @include row;
            gap: 40px;
            align-self: stretch;
            }
            
        .slide {
            display: none;
        }
        
        .slide.active {
            @include column;
            justify-content: flex-start;
            transition: all .1s ease-in-out;
            height: 38rem;
            padding: 24px 16px;
            margin-top: 2rem;
            margin-bottom: 2rem;
            align-items: flex-start;
            gap: 24px;
            flex: 1 0 0;
            border-radius: 16px;
            background: $card_background;

            @media only screen and (min-width: 700px) and (max-width: 1000px) {
                height: 40rem;
            }

            @media only screen and (max-width: 699px) {
                height: 40rem;
            }

            .row{
                @include row;
                width: 100%;
                gap: 1.6rem;
                align-items: flex-start;

                .p1 {
                    padding-top: 0.8rem;
                    width: 100%;
                }

                svg.quotes {
                    width: 4rem;
                    height: 4rem;
                }

                .column {
                    @include column;
                    width: 100%;
                    align-items: flex-start;
                    gap: 0.8rem;

                    .column {
                        @include column;
                        width: 100%;
                        gap: 0.4rem;
                        align-items: flex-start;
                        
                        .p2 {
                        color: $grey;
                    }
                    }
                }

                .column.margin {
                    margin-left: 5.2rem;
                }
            }
        }
        .slide.active.hide {
            @media only screen and (max-width: 1000px) {
                display: none;
            }
        }

        .arrows {
            @include row;
            gap: 10rem;
            padding: 0.8rem 0rem;

            svg {
                transition: fill 100ms ease-in-out;
                user-select: none;
            }

            @media only screen and (min-width: $mobile) {
                svg:hover path {
                    fill: $secondary-color;
                }
            }

            svg:active path {
                fill: $secondary-color;
            }

            svg path{
                fill: $white
            }
        }
    }
}
