@use '../abstracts/variables' as *;
@use '../base/typography' as *;
@use '../layout/layout' as *;
@use '../components/buttons' as *;

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh; 
    @include column;
    background: url(../images/hero/hero-bg.svg) center/cover no-repeat;
    border-bottom-left-radius: 10rem;
    padding: 0;
    padding-top: 9rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @media only screen and (max-width: 600px) {
        border-bottom-left-radius: 0rem;
    }

    h1, h5, p {
        color: $text;
    }
    
    .hero-column{
        @include column;
        position: relative;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        gap: 5svh;
        margin-top: 10svh;
        @media only screen and (max-height: $hero_arrow_disappear), only screen and (max-width: 300px)  {
            justify-content: center;
            margin-top: 0px;
        }

        .btn-primary {
            @include btn-primary;
        }

        .column {
            @include column;
            padding-top: 10vh;
            margin-bottom: 2rem;
            @media only screen and (max-height: $hero_arrow_disappear), only screen and (max-width: 300px) {
                display: none;
            }
        }
    }

    img {
        width: 20vw;
        max-width: 16%;
        position: absolute;
        bottom: 0;
        right: 8rem;

        @media only screen and (max-width: 1200px) {
            display: none;
        }
    }
}
