@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;

header {
    position: sticky;
    top: 0;
    width: 90vw;
    height: 90px;
    z-index: 1000;
    border-radius: 0 0 24px 24px;
    background-color: $text;
    margin: 0 auto;
    transition: top 0.4s;
    
    nav {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 0 40px;
        justify-content: space-between;
        align-items: center;
        
        a {
            display: flex;
            width: 100%;
            height: 60px;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: $primary-light;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
        
            .b2 {
            text-wrap: nowrap;
            color: $primary-light;
            transition: color 0.4s ease-in-out;

            &:hover {
                color: $white;
            }
            }
        }
        
        .btn-nav {
            position: relative;
            padding: 16px 30px;
            border: none;
            border-radius: 16px;
            cursor: pointer;
            background-color: $primary-dark;
            transition: background-color 0.8s ease-in-out;
            background-image: $invisible;
            transition: background-image 0.8s ease-in-out;

            &:hover {
                background-color: $invisible;
                background-image: $line;
            }
            
            .b2 {
                @include button-text-small;
                color: $white;
                text-wrap: nowrap;
            }
        }
    }
}